div#add-member-popup {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 600px;
    height: 600px;
    margin-left: -300px;
    margin-top: -300px;
    background-color: white;
    color: black !important;
}

h3, .modal-header, .modal-body, .modal-footer {
    color: black !important;
}

.mocdal-content {
    overflow: auto;
}
