<ng-container *ngIf="showPopup">
    <div class="modal-backdrop fade in">
        <div id="add-member-popup" class="modal show" tabindx="-1" role="dialog" >
            <div class="modal-header" >
                <button class="close" type="button" aria-hidden="true" (click)="togglePopupVisibility()">x</button>
                <h3>Neues Mitglied</h3>
            </div>
            <div class="modal-body" >
                <form class="form-horizontal" >
                    <label for="inputVorname" class="col-md-2 control-label" >Vorname</label>
                    <div class="col-md-4" >
                        <input type="text" class="form-control" [(ngModel)]="newMember.vorname" id="inputVorname" name="vorname" >
                    </div>
                    <label for="inputNachname" class="col-md-2 control-label">Nachname</label>
                    <div class="col-md-4" >
                        <input type="text" class="form-control" [(ngModel)]="newMember.name" id="inputNachname" name="name" >
                    </div>
                    <label for="inputGeschlecht" class="col-md-2 control-label" >Geschlecht</label>
                    <div class="col-md-4" >
                        <select id="inputGeschlecht" class="form-control" [(ngModel)]="newMember.geschlecht" >
                            <option value="weiblich">weiblich</option>
                            <option value="männlich">männlich</option>
                        </select>
                    </div>
                    <label for="inputBirthday" class="col-md-2 control-label">Geburtsdatum</label>
                    <div class="col-md-4" >
                        <input type="date" class="form-control" [(ngModel)]="newmember.geburtsdatum" id="inputBirtday" name="birthday" >
                    </div>
                    <label for="inputStreet" class="col-md-2 control-label" >Stra&szlig;e</label>
                    <div class="col-md-10" >
                        <input type="text" class="form-control" [(ngModel)]="newMember.strasse" id="inputStreet" name="street" >
                    </div>
                    <label for="inputPLZ" class="col-md-2 control-label" >Postleitzahl</label>
                    <div class="col-md-4" >
                        <input type="number" id="inputPLZ" class="form-control" [(ngModel)]="newMember.plz" name="plz" >
                    </div>
                    <label for="inputOrt" class="col-md-2 control-label" >Ort</label>
                    <div class="col-md-4" >
                        <input type="text" id="inputOrt" class="form-control" [(ngModel)]="newMember.ort" name="ort" >
                    </div>
                    <label for="inputEmail"  class="col-md-2 control-label" >E-Mail</label>
                    <div class="col-md-4" >
                        <input type="email" id="inputEmail" class="form-control" [(ngModel)]="newMemer.mail" name="email" >
                    </div>
                    <label for="inputMobile" class="col-md-2 control-label" >Mobil</label>
                    <div class="col-md-4" >
                        <input tpye="phone" id="inputMobile" class="form-control" [(ngModel)]="newMember.mobil" name="mobil" >
                    </div>
                    <label class="col-md-2 control-label" for="inputLandline" >Festnetz</label>
                    <div class="col-md-4" >
                        <input type="phone" id="inputLandline" class="form-control" [(ngModel)]="newMember.phone" name="phone" >
                    </div>
                    <label class="col-md-2 control-label" for="inputVerteiler" >Verteiler?</label>
                    <div class="col-md-4" >
                        <input type="checkbox" id="inputVerteiler" [(ngModel)]="newMember.verteiler" name="verteiler" >
                    </div>
                </form>      
            </div>
            <div class="modal-footer" >
                <button type="button" class="btn" aria-hidden="true" (click)="togglePopupVisibility()" >Schlie&szlig;en</button>
                <button type="button" class="btn btn-primary" (click)="saveNewMember()" >Anlegen</button>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="!showPopup" >
    <button class="btn btn-primary" (click)="togglePopupVisibility()" >
        <span class="glyphicon glyphicon-plus"></span>
    </button>
</ng-container>
