<div>
    <span class="col-md-1">Filter</span>
    <!-- 
    <div class="col-md-2 col-xs-12" >
        <input type="text" name="textFilter" class="form-control" #textFilter onclick="">
    </div>
    -->
    <ng-container #vc appViewrefContainer ></ng-container>
    <app-add-member></app-add-member>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>E-Mail</th>
            <th>Geschlecht</th>
            <th>Status</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody *ngIf="members" >
        <tr  *ngFor="let member of members">
            <td>{{ member.vorname }}</td>
            <td >{{ member.name }}</td>
            <td><a [href]="'mailto:'+member.email"><span class="glyphicon glyphicon-envelope"></span></a>{{ member.email }}</td>
            <td >{{ member.geschlecht }}</td>
            <td>{{ member.status }}</td>
            <td><a [routerLink]="'/member/'+member.id"><span class="glyphicon glyphicon-search" ></span></a></td>
        </tr>
    </tbody>
</table>


<!-- <button class="btn btn-default" type="button" (click)="sendMails()">Testmails</button> -->
<a routerLink="lsb" >LSB</a>
<a [href]="downloadUrl"><span class="glyphicon glyphicon-export" ></span></a>
