<ng-container *ngIf="showPopup">
    <div id="add-member-popup" class="modal show" tabindx="-1" role="dialog" >
        <div class="modal-content" role="document" >
            <div class="modal-header" >
                <button class="close" type="button" aria-hidden="true" (click)="togglePopupVisibility()">x</button>
                <h3>Neues Mitglied</h3>
            </div>
            <div class="modal-body" >
                <form class="form-horizontal" >
                    <div class="form-group col-md-6" >
                        <label for="inputVorname" class="control-label" >Vorname</label>
                        <input type="text" class="form-control" [(ngModel)]="newMember.vorname" id="inputVorname" name="vorname" >
                    </div>
                    <div class="form-group col-md-6" >
                        <label for="inputNachname" class="col-md-4 control-label">Nachname</label>
                        <input type="text" class="form-control" [(ngModel)]="newMember.name" id="inputNachname" name="name" >
                    </div>
                    <div class="form-group col-md-6" >
                        <label for="inputGeschlecht" class="control-label" >Geschlecht</label>
                        <select id="inputGeschlecht" class="form-control" [(ngModel)]="newMember.geschlecht" name="geschlecht">
                            <option value="weiblich">weiblich</option>
                            <option value="männlich">männlich</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6" >
                        <label for="inputBirthday" class="control-label">Geburtsdatum</label>
                        <input type="date" class="form-control" [(ngModel)]="newMember.geburtsdatum" id="inputBirtday" name="birthday" >
                    </div>
                    <div class="form-group col-md-6" >
                        <label for="inputStreet" class="control-label" >Stra&szlig;e</label>
                        <input type="text" class="form-control" [(ngModel)]="newMember.strasse" id="inputStreet" name="street" >
                    </div>
                    <div class="form-group col-md-6" >
                        <label for="inputPLZ" class="control-label" >Postleitzahl</label>
                        <input type="number" id="inputPLZ" class="form-control" [(ngModel)]="newMember.plz" name="plz" >
                    </div>
                    <div class="form-group col-md-6" >
                        <label for="inputOrt" class="control-label" >Ort</label>
                        <input type="text" id="inputOrt" class="form-control" [(ngModel)]="newMember.ort" name="ort" >
                    </div>
                    <div class="form-group col-md-6" >
                        <label for="inputEmail"  class="control-label" >E-Mail</label>
                        <input type="email" id="inputEmail" class="form-control" [(ngModel)]="newMember.email" name="email" >
                    </div>
                    <div class="form-group col-md-6" >
                        <label for="inputMobile" class="control-label" >Mobil</label>
                        <input tpye="phone" id="inputMobile" class="form-control" [(ngModel)]="newMember.mobil" name="mobil" >
                    </div>
                    <div class="form-group col-md-6" >
                        <label class="control-label" for="inputLandline" >Festnetz</label>
                        <input type="phone" id="inputLandline" class="form-control" [(ngModel)]="newMember.festnetz" name="phone" >
                    </div>
                    <div class="form-group col-md-6" >
                        <label class="control-label" for="inputVerteiler" >Verteiler?</label>
                        <input type="checkbox" id="inputVerteiler" class="form-control" [(ngModel)]="newMember.verteiler" name="verteiler" >
                    </div>
                    <div class="form-group col-md-6" >
                        <label class="control-label" for="inputStatus" >Status</label>
                        <select id="inputStatus" class="form-control" [(ngModel)]="newMember.status" name="status">
                            <option value="berufstätig" >berufstätig</option>
                            <option value="ermäßigt" >ermäßigt</option>
                            <option value="passiv">passiv</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6" >
                        <label class="control-label" for="inputEntryDate" >Eintrittsdatum</label>
                        <input id="inputEntryDate" type="date" class="form-control" [(ngModel)]="newMember.eintrittsdatum" name="eintrittsdatum" >
                    </div>
                    <div class="form-group col-md-6" >
                        <label class="control-label" for="inputDse" >DSE</label>
                        <input type="checkbox" id="inputDse" class="form-control" name="dse" [(ngModel)]="newMember.dse" >
                    </div>
                    <div class="form-group col-md-6" >
                        <label class="control-label" for="inputRabatt" >Rabatt</label>
                        <input type="checkbox" id="inputRabatt" class="form-control" name="rabatt" [(ngModel)]="newMember.rabatt" >
                    </div>
                </form>
            </div>
            <div class="modal-footer" >
                <button type="button" class="btn" aria-hidden="true" (click)="togglePopupVisibility()" >Schlie&szlig;en</button>
                <button type="button" class="btn btn-primary" (click)="saveNewMember()" >Anlegen</button>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="!showPopup" >
    <button class="btn btn-primary" (click)="togglePopupVisibility()" >
        <span class="glyphicon glyphicon-plus"></span>
    </button>
</ng-container>
