<!DOCTYPE html>
<html ng-app="members">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
  </head>
  <body ng-controller="MemberController as memc">
    <script type="text/javascript" src="app.min.js"></script>
    <h1>{{"Hello" + " world!"}}</h1>
    <div class="pull-right">
      <input ng-model="searchText" type="text" />
    </div>
    <div class="col-md-10" >
      <div class="col-md-10" >
	<div class="col-md-2">Vorname</div>
	<div class="col-md-2">Nachname</div>
	<div class="col-md-2">Geschlecht</div>
	<div class="col-md-2">Geburtsdatum</div>
	<div class="col-md-2">Eintrittsdatum</div>
      </div>
      <div class="col-md-10" ng-repeat="member in members | filter:searchText" ng-click="memc.clickedMe(member)" >
	<div class="col-md-10">		     
	  <div class="col-md-2">{{member.vorname}}</div>
	  <div class="col-md-2">{{member.name}}</div>
	  <div class="col-md-2">{{member.geschlecht}}</div>
	  <div class="col-md-2">{{member.geburtsdatum}}</div>
	  <div class="col-md-2">{{member.eintrittsdatum}}</div>
	</div>
	<div class="col-md-10" ng-show="memc.activeMember === member.id" >
	  <div class="col-md-6">
	    <strong class="col-md-6">Kontaktdaten</strong>
	    <ul>
	      <li>Straße: {{member.kontaktdaten[0].strasse}}</li>
	      <li>PLZ: {{member.kontaktdaten[0].plz}}</li>
	      <li>Ort: {{member.kontaktdaten[0].ort}}</li>
	      <li>Telefon: {{member.kontaktdaten[0].telefon}}</li>
	      <li>Handy: {{member.kontaktdaten[0].mobil}}</li>
	      <li>E-Mail: {{member.kontaktdaten[0].email}}</li>
	      <li>Verteiler: {{member.kontaktdaten[0].verteiler}}</li>
	    </ul>
	  </div>
	  <div class="col-md-4">
	    <div class="col-md-3">
	      <strong>Status</strong>
	    </div>
	    <div class="col-md-3">
	      <strong>DFV</strong>
	    </div>
	    </div>
	</div>

      </div>
  </body>
</html>
